# C4 model
.structurizr
workspace.json

# OS
.DS_Store

# node / javascript / python
node_modules
.venv
__pycache__
.pytest_cache

# builds
dist

# face-api
**/weights/*.shard
**/weights/*_manifest.json

# AWS CDK
cdk.out
